/* common shared font style*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 0px 240px 0px 240px;

}

.site-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800px;

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;

}

.description {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 634px;
    font-size: 18px;
    flex-direction: column;
    flex-shrink: 0;

}

.primary-button {
    margin-top: 0px;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;

    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;

}

.header-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;

}

/* main style */
.preimary-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

#h3 {
    margin-top: 180px;
    margin-bottom: 0px;

}

.tree-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 665px 48px 665px;

}

.tree-type {
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 0px 240px 35px 240px;

}

.tree-img1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    padding: 110px 78px 0px 78px;
}

.tree-img2 {
    width: 370px;
    height: 370px;
    flex-shrink: 0;

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

    padding: 117px 47px 51px 47px;
}

.tree-img3 {
    width: 314px;
    height: 469px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 75px 0px 75px;
}

.tree-text {
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

    margin-top: 0px;
    margin-bottom: 130px;
}

.contuct {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin: 130px 240px 130px 220px;
    border-radius: 8px;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 130px;

}

.contuct-img {

    text-align: center;
}

.contuct-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600px;
    line-height: 35px;
    margin-right: 10px;
}

.contuct-item {

    padding: 85px 175px;

}

/*Hot Deal ! Sale Up To 25% Off*/

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    margin-bottom: 128px;

}

.hot-deal-text {
    text-align: center;
}

.hot-deal-title {
    margin-top: 230px;
    margin-left: 425px;
    margin-right: 215px;
    margin-bottom: 24px;
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.hot-deal-info {
    margin-left: 395px;
    margin-right: 180px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.sign-up-button {
    display: inline-flex;
    padding: 20px 40px;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 160px;
    margin-left: 600px;
    margin-right: 303px;

    border-radius: 8px;
    background: #E55473;
}

.hot-deal-img {
    margin: 100px 430px 100px 0px;
    flex-shrink: 0;

}



.instagram-img {
    margin: 24px 240px 130px 280px;
    

}

.instagram-img-size {
    margin-right: 15px;

    width: 300px;
    height: 350px;
    flex-shrink: 0;
}

/*  Get The Latest Deals */
.deals {
    background-image: url("../FlowerAsset/Rectangle9.png");
    margin: 140px 285px;
    border-radius: 10px;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 100px 0px 0px 0px;
    margin-bottom: 0%;
}

.deal-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}

.subscribe {
    
    display: grid;
    margin-left: 300px;
    width: 100%;
}

.subscribe input[type="email"] {
    margin-top: 0px;
    margin-bottom: 121px;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    width: 40%;

}

.deal-submit {
    border-radius: 5px;
    background: #E55473;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    padding: 18px 30px;
    border: 0;
}

/* footer */
footer {
    background: #111010;
    flex-shrink: 0;
    text-align: center;
    width: 1922px;
    height: 449px;
}

.footer-title {
    text-align: center;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding: 128px 0px 24px 0px;

}

.footer-title-info {
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    margin-left: 650px;
    margin-right: 648px;
    padding: 0px 0px 32px 0px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;

}

/* .message-submit input[type="text" ],input[type="email"],textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    border: 0;
    
} */